/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-background-image: url("/images/cover-image-dark.png");
  --title-decor-color: #DB00FF;
  --header-decor-text-color: #000028;
  --content-title-color: #000028;
  --content-title-first-level-color: #FF0070;
  --nav-color: #ff0070;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-background-image: url("/images/cover-image-dark.png");
  --title-decor-color: #DB00FF;
  --header-decor-text-color: #000028;
  --content-title-color: #000028;
  --content-title-first-level-color: #FF0070;
  --nav-color: #ff0070;
}
