/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body.
   Он удобен, чтобы составлять селекторы для разных цветовых тем. */
   background-image: var(--main-background-image);
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   color: var(--main-text-color);
   font-family: 'IBM Plex mono';
   padding: 10px;  
}

/*Меню*/
.header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  position: relative;  
  margin-block-end: 60px;
}

.header__decor{
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
}

.header__decor-top{
  top: 0;
  right: 0;
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.theme-dark .header__decor-top.rec-decor::before{
  content: 'REC';
  color: var(--nav-color);  
  position: absolute;
  inset: 0 -2em;
  display: inline-block;
}

.theme-dark .header__decor-top.rec-decor::after{
  background-color: var(--nav-color);
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;  
  position: absolute;
  top: 25%;
  right: 25%;
  box-shadow: 0 0 4px 2px var(--nav-color);
}

@media (prefers-color-scheme: dark){
  .theme-auto .header__decor-top.rec-decor::before{
  content: 'REC';
  color: var(--nav-color);  
  position: absolute;
  inset: 0 -2em;
  display: inline-block;
}

 .theme-auto .header__decor-top.rec-decor::after{
  background-color: var(--nav-color);
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;  
  position: absolute;
  top: 25%;
  right: 25%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  }
}

.header__decor-bottom{
  bottom: 0;
  left: 0;
  border-left: 1px solid var(--nav-color);
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu{
  grid-column: 3;
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list{ 
  display: flex;
  flex-direction: column;  
  gap: 10px;
}

.header__theme-menu-item{
  list-style: none;
}

.header__theme-menu-button{
  background-color: transparent;
  color: var(--nav-color);
  border: none;
  font-size: inherit;
  text-transform: lowercase;  
  padding: 2px 13px 4px;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:focus{
  outline: none;
}

.header__theme-menu-button_active{
  outline: var(--nav-color) 1px solid;
  pointer-events: none;
}

/*Title*/
.header__title{  
  margin-left: -10px;
  grid-column: span 3;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-decor-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  line-height: 0.8;  
}

/*Header text*/
.header__text{
  color: var(--header-decor-text-color);
  background-color: var(--accent-color);
  font-weight: bold;    
  margin-block: 55px;
  grid-column: span 3;
}

/*Секция main*/
.content__section{  
  margin-block-end: 50px;
}

.content__title{
  font-size: 18px;
  display: block;
  margin-block-end: 10px;
}

.content__link{
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}
.content__link:hover{
  border-bottom: 1px solid currentColor;
}

.content__link:focus{
  border: none;
  outline: none;
  border: 1px solid currentColor;
}

.content__title-first-level{
  color: var(--content-title-first-level-color);
  margin-block-end: 20px;
}

.content__title-second-level, .content__title-third-level{
  background-color: var(--accent-color);
  color: var(--content-title-color);
}

.content__title-third-level{  
  font-weight: normal;
}

.content__text-block{
  margin-block-end: 20px;
}

.images__content__section{
  margin-block-end: 40px;
}

/*Галерея*/
.gallery{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; 
}

.gallery-image{
  inline-size: 100%;
  object-fit: contain;
}

.footer{
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-decor-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  line-height: 0.8;  
  padding-block: 286px;  
  padding-inline: 0;
}

@media (width >= 768px){
  .page{
    padding: 20px;
  }

  .header__theme-menu{
    margin-block: 173px;
  }

  .header__text{
    inline-size: calc(50vw - 20px);  
    margin-block: 114px;  
    grid-column: -1 / -2;
  }

  .header__title{
    margin-left: -20px;    
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__text-block{
    margin-block-end: 0;
  }

  .content__section{  
    margin-block-end: 80px;
  }

  .content__section{
    display: grid;
    grid-template-columns: 1fr;  
    gap: 20px;
  }

  .why__content__section, .how__content__section{
    display: grid;
    grid-template-columns: calc(100% / 3 - 20px) 1fr;
    gap: 20px;    
  }

  .why__content__section .content__text-block{
    grid-column: 2;
  }

  .how__content__section .content__text-block{
    grid-column: 2;
    align-self: start;
  }

  .how__content__section{
    grid-template-rows: min-content;
  }

  .how__content__section .content__title-first-level{
    grid-row: span 2;
  }

  .gallery {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    

  }

  .images__content__section .content__title{
    margin-block-end: 0;
  }

  .gallery-image{
    block-size: 100%;
    object-fit: cover;
  }
  
  .gallery-image:nth-child(1){
    grid-column: span 2;
  }

  .gallery-image:nth-child(2){
    grid-row: span 2;
  }

  .gallery-image:nth-child(3){
    grid-row: span 2;
  }

  .gallery-image:nth-child(5){
    grid-column: span 2;
  }
  
  .footer__title{
    padding-block: 463px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .images__content__section{
  margin-block-end: 60px;
  }
}

@media (width >= 1024px){
  .header__theme-menu-list{
    flex-direction: row;
    justify-self: center;  
  }  

  .header__theme-menu{
    grid-column: 1 / 4;
    align-self: start;
    justify-self: center;
    margin-block-start: 0;
    margin-block-end: 273px;
  }
  .header__text{
    grid-column: -1 / -2;
    grid-row: 3;
  }
  .what__content__section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .footer__title{
    padding-block: 319px;
  }
}


